<!DOCTYPE html>
<html>
  <head>
  <%- include('./partials/head')  %>
  </head>
  <body>
    <h1>Movie Findr</h1>
    <h4>Welcome to Movie Findr</h4>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="" class="brand-logo left">Movie Findr</a>
          <ul class="right">
            <% if (user) { %>
              <li><a href="/logout">Logout</a></li>
            <% } else { %>
              <li><a href="/auth/google">Login with Google</a></li>
            <% } %>
          </ul>
        </div>
      </nav>
    </div>
    <h4>
    <a href="/movies">Go to list of movies</a>
  </body>
</html>
