<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') %>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <h1>Welcome to Movie Findr</h1>

  <body>
      <nav>
        <div class="nav-wrapper">
          <ul class="brand-logo left">
            <% if (user) { %>
              <li><a class="waves-effect waves-light btn" href="/logout">Logout</a></li>
              <li><a class="waves-effect waves-light btn" href="/movies">Lost? Click this button</a></li>

            <% } else { %>
              <li><a class="waves-effect waves-light btn" href="/auth/google">Login with Google</a></li>
            <% } %>
          </ul>
        </div>
      </nav>
      <div class="card-panel blue">
        <h1 style="color:white">Welcome to Movie Findr</h1>
        <ul>
          <p style="color:white"> Search multiple databases <br>
            to find where a movie is streaming online</p>
        </ul>
      </div>

      <div class="card-panel red lighten-2">
        <img class="responsive-img center-block" src="../images/watch.jpg" alt="watch movies online image">
        <p>Search multiple databases. Find where a movie is being streamed online.
        </p>

      </div>
      <div id="footer">Made by Gaye, Darin, Paul</div>
  </body>

</html>
