@import url(http://fonts.googleapis.com/css?family=Raleway|Lobster);

body {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	margin: auto;
	background-image: url('../../images/new.jpg');
	background-repeat: none;
	background-size: cover;
}

h1, h2 {
	font-weight: bold;
	text-align: center;
	color: red;
}

 h3, h4, h5 {
	font-weight: bold;
 	text-align: center;
 	color: white;
 }

div {
	background-image: url('../../images/film2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}


li {
	background-color: black;
	color: red;
	text-align: center;
}

.searchResponses {
	height: auto;
}

.watched {
	color: red;
}

.not-watched {
	color: red;
}

label {
	color: white;
}

input {
	color: white;
}

#search {
	color: white;
	font-size: 1em;
}

#main {
	background-image: url('../../images/maxresdefault.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

p {
	color: white;
}
