@import url(http://fonts.googleapis.com/css?family=Raleway|Lobster);

body {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}

h1, h3 {
	font-weight: bold;
	text-align: center;
}

h4 {
	text-align: center;
}

.parallax-container {
	height: 100px;
}
