<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head')%>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <header>
    <%- include('../partials/navbar') %>
  </header>

  <body>
    <% if (user) { %>
      <h3>Search For Movies</h3>
      <div class="section white row container">
        <h4><a href="/lists">Go To Your List</a></h4>
          <input id="search" placeholder="Search by title" type="text">
          <button id="submitSearch" class="btn btn-default">Search</button>
            <ul id= 'searchResults'></ul>
              <h5 class="custom-font checkbox">Watched</h5>
            <ul id="watched"></ul>
              <h5 class="custom-font checkbox">Not Watched</h5>
            <ul id="not-watched"></ul>

    <% } else { %>
      <div class="card-panel blue lighten-3">
        <h4>Please login to enter MovieFindr!</h4>
      </div>
        <img src="http://www.nextleveltricks.com/wp-content/uploads/2016/01/Best-Free-Movie-Streaming-Sites-to-Watch-Movies-Online.jpg" alt="watch movies on your computer">
    <% } %>

    <%- include('../partials/script') %>
  </body>
</html>
