<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Movies, Inc.</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    </head>
    <body>

      <div class="container">
        <div class="page-header">
        <h1><a href="/movies">Movies, Inc.</a></h1>
        <h6>Movie List</h6>
      </div>

        <ul id="movies">

        <% movies.forEach(function(movie) { %>
          <li>
            <blockmovie>
              <p><%= movie.title %></p>
              <footer><%= movie.genre %></footer>
            </blockmovie>
          </li>

        <% }); %>

        </ul>

        <nav>
          <a href="/movies/new">Add A New Movie</a>
        </nav>



      </div>



    </body>
</html>
