
<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Movies, Inc.</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    </head>
    <body>

      <div class="container">

        <form action="/movies" method="post">
          <div class='form-group'>
            <input type="text" name="movie[text]" placeholder="This is a movie..." class="form-control" >
          </div>
          <div class='form-group'>
            <input type="text" name="movie[author]" placeholder="Maxwell P. Strong" class="form-control" >
          </div>
          <div class='form-group'>
            <input type="submit" value='Save Movie' class="btn btn-default">
          </div>
        </form>
      </div>
    </body>
</html>
